<%= turbo_stream_from "quote" %>
<main class="container">
  <%= link_to sanitize("&larr; Back to Quotes"), quotes_path %>

  <div class="header">
    <%= render "show_quote", quote: @quote %>
  </div>
</main>
